body {
	font-family:sans-serif;
	margin-left:50px;
}
h1 {
	color:DarkGrey;
}
h2 {
	color:DimGrey;
}
h3 {
	color:#505050;
}
p,ul,ol {
	color:#333333;
	width:800px;
}
a {
	color:#000060;
}
table 
{
	width:800px;
}
td {
	color:#333333;
	padding: 5px 10px;
	margin-left:auto;
	margin-right:auto;
}
textarea {
	width: 900px;
	border: 0px;
	background-color: #d3d9ff;
	font-size: 120%;
	tab-size: 2;
}
div.centre {
	text-align: center;
	width:800px;
}
tt {
	font-size: 110%;
	font-weight:bold;
}
